/****************************
 ====== Votre CSS =====
 ****************************/
*{
    /*border: 1px solid black;*/
    letter-spacing: 3px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.headerlist {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav li{
    font-family: "Josefin Sans";
    margin-right: 40px;
}

.sousmenu{
  padding: 0;
  display: none;
  text-align: center;
  margin-left: -0.6vmin;
  position: absolute;
}
.sousmenu li{
  font-size: 1.3vmin;
  border: 1px solid black;
  border-radius: 2px;
  border-top: none;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  padding-left: 0.7vmin;
  width: 100%;

}


a{
  text-decoration: none;
  color: black;
  letter-spacing: 0px;
  font-weight: bolder;
  font-size: 1vmin;

}

.headerlist li:hover .sousmenu{
  display: block;
}


h1{
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 35px;
    text-align: center;
}

section img{
    width: 50%;
    margin-bottom: 2vmin;
}

.one{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.one p{
  font-style: italic;
  width: 50%;
  font-size: 1.5vmin;
}
.one hr{
  color: #f4f4f4;
  width: 50%;
}

.contain{
  border: 5px solid #f4f4f4;
  width: 50%;
}

.contain img{
  width: 92%;
  margin: 4% 4% 0% 4%;
}

.contain p{
  width: 92%;
  margin: auto;
}

.goat{
  display: flex;
  padding: 1vmin 1vmin 1vmin 2.5vmin;
}

.goat li{
  margin-right: 0.6vmin;
  margin-bottom: 2vmin;
  color: white;
  background-color: #E1b3a3;
  padding: 0.5vmin 0.5vmin;
  border-radius: 3px;
  font-size: 1.2vmin;
}

.contain input{
  width: 100%;
  text-align: center;
  padding-top: 1.4vmin;
  padding-bottom: 1.4vmin;
  color: white;
  background-color: #E1b3a3;
  font-family: "Josefin Sans";
  font-size: 1.5vmin;


}
footer{
    background-color: #F7F7F7;
    padding-top: 50px;
}

footer ul li{
    margin-right: 25px;
    letter-spacing: 2px;
}

footer ul{
    margin: 30px 0 80px 0;
}

footer section {
    font-family: "Josefin Sans";
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center{
    margin-right: 2%;
    margin-left: 2%;

}

article {
    flex: 1;
}

article ul{
    padding: 0;
}
.listfooter {
    list-style: none;
    display: flex;
    flex-direction: row;
}

article ul li {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}


input{
    border:none;
}

form{
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    border-color: grey;
    background-color: #e5e5e5;
}
hr{
    background-color: black;
    margin-bottom: 30px;
    padding: 0px;
}
.name{
  border:1px solid #e5e5e5;
  border-radius: 4px;
  letter-spacing: 0px;
  padding : 1vmin 0vmin 1vmin 1.5vmin;
}

.email{
  margin-top: 5px;
  border-radius: 4px;
  padding: 1vmin 0vmin 1vmin 1.5vmin;
}

.submit{
    margin-top: 5px;
    background-color: black;
    color:white;
    height: 5vmin;
    border-radius: 4px;
    font-family: "sans-serif","Josefin Sans";
    font-weight: bolder;
    font-size: 1.5vmin;
    letter-spacing: 1px;
}

p, .email{
    letter-spacing: 1px;
}

h5{
    font-weight: normal;
    letter-spacing: 1px;
}
